body {font-family:'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid white 1px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover, #highlighted {
    border: white solid;
    background-color: rgba(188, 188, 188, 0.345);
    display: block;
}

.name {
    font-size: 30px;
    text-align: center;
}

.nav {
    font-size: 20px;
}

.index-middle {
    font-size: 40px;
    margin: 20px;
}

#passions {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

#projects {
    display: flex;
    justify-content: center;
    padding: 55px;
}

#publications {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}

h1 {
    text-align: center;
}

.timeline {
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-element {
    padding: 10px;
    position: relative;
    background-color: rgba(188, 188, 188, 0.345);
    width: 20%;
}

.timeline-date {
    content: '';
    position: absolute;
    padding: 15px;
    word-wrap: break-word;    
    height: 25px;
    right: -175px;
    background-color: rgba(188, 188, 188, 0.345);
    border: 2px solid white;
    border-radius: 50px;
    top: 15px;
    z-index: 1;
}

.left {
    left: 0;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgba(188, 188, 188, 0.345);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right {
    left: 50%;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.timeline-element-description {
    position: relative;
    border-radius: 6px;
}

form {
    margin: 50px auto;
    width: 90%;
}

#form-description {
    text-align: center;
    padding: 70px;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 125px;
    font-size: 20px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
}

.form-item input,
.form-item textarea,
.form-item button {
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif
}

.form-item button {
    width: 100px;
}

.form-item button:hover {
    background-color: grey;
}

#projects-display {
    text-align: center;
}

.individual-projects {
    background-color: rgba(188, 188, 188, 0.345);
    padding: 15px;
    width: calc(100% / 3 - 10%);
    text-align: left;
    margin: 15px;
    display: inline-block;
}

.project-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 15px;
    border-top: white 1px solid;
}

#social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


