body {font-family:'Times New Roman', Times, serif;
    padding: 30px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url('LinkedIn Copy/IMG_3521.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: white;
}

.name {
    font-size: 50px;
}

.nav {
    font-size: 25px;
}

#social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

footer {
    text-align: center;
}